{% extends 'layout.html' %}

{% block body %}
<hr>

<h2>About Me</h2>

<div class="card text-center">
        <div class="card-header">
          <p>Hi everyone. My name is Pavol Medved, I am originally from Slovakia. I grow up in small city where i attend primary school for nine years. I was continue with study and I decide go to Hotel Academy. After five years I graduated. During the school i was working many part times job in industrial, hospitality and sale. After my high school I moved to England and i was keep continue with getting jobs experience. One of my big work experience was position operator-controlor for cloths company. Working with computer opened me new journey. But i decided moved to USA and try live american dreams. Getting job wasn't easy. I finded position caregiver, where I stayed with family one year. Also did try position as supervisor housekeeping for two years. I was painter of appartments for a year. In the moment I'm self-employ and i decide go to the coding bootcamp.</p>
        </div>

        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/60388163_10216694469806624_1645855442334646272_n.jpg?_nc_cat=101&_nc_oc=AQkc57vCeBNbuXF7IuvdzMzB3fhpyh23s61A9UTWO7f-XrTcZtXERia_h-PXhDdk2qw&_nc_ht=scontent-ort2-1.xx&oh=9c5fa05a2447565640acedcee1f30d23&oe=5DD7498F">

        <div class="card-body">
          <h2 class="card-title">...why i decided become a web developer</h2>
          <p class="card-text">... during my life I learned a lot and of course I still learning. How to be hard worker, respectful and patient was probably most important things.</p>
          <p>All my childhood I can tell I was very creative. From dancing, playing on piano, painting, baking, playing soccer I knew I wanna do something more in my life. More you know, more you are successful. My first touch with coding was in America. I started wondering what exacly coding mean and how all those languages and programs works. We are using them every single day. Phones, computers, tv...etc. I think coding is like a art. You create something what can people make life easier and better. I decide go to bootcamp and try on myself how from letters and numbers make something. I know is not going be easy on begining, but I like challenges and I liek to learn.</p>
          <a href="https://en.wikipedia.org/wiki/Slovakia" class="btn btn-primary">Slovakia - My Country</a>
        </div>
        <div class="card-footer text-muted">
                CAREFUUL WHAT YOU ARE DREAMING OF AND WHAT YOU ARE ASKING FOR FROM LIFE
        </div>
</div>

<hr>

{% endblock %}
