{% extends 'layout.html' %}

{% block body %}

<hr>

<h1>My Baking</h1>

<div class="card-columns">
        <div class="card">
          <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/68970954_2491099744285981_8082963124895875072_n.jpg?_nc_cat=104&_nc_oc=AQmhW8S3pvohoJlgi6U2G4bPCxxi8oLq9OdKgMdyvEy4DuvHvKaxMjLbE6Z0LBDLSyE&_nc_ht=scontent-ort2-1.xx&oh=b1dcf8a63044c237724dd027c378a059&oe=5DD3D8BC" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Apple Pie</h5>
            <p class="card-text">2 cups flour, 2/3 cups powder sugar, 2 eggs, 8oz butter, 1ts baking powder, apples, 2/3 cups brown sugar, 2ts cinemon, we can add nuts if we want</p>
            <h5 class="card-title">Why is apple pie good for you?</h5>
            <p class="card-text">It's made from fruit, so it must be good for you... right? While apples are quite healthy—they're loaded with fiber, vitamin C and antioxidants—coating them with sugar and dumping them in a buttery crust does change things a bit. Plus, apple pies normally come with double crusts, which means more calories.</p>
          </div>
        </div>
        
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/45306206_10215288539979257_8022820848173842432_n.jpg?_nc_cat=102&_nc_oc=AQkcEJJNM1d-u37L2NR12LJXR79JIjEgE4LStpLeDoijUrzCAglVKwtFW17HBYm3fyk&_nc_ht=scontent-ort2-1.xx&oh=989630896742b74ef134fe0d3ce85c53&oe=5E15D24B" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">When autumn is here and the leaves change colors!</h5>
                  <p class="card-text">Light cream cake always taste good with cup of coffee.</p>
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/55541889_10216327849041334_1830735217283825664_n.jpg?_nc_cat=103&_nc_oc=AQnNPbmXSHyk6ouE9sro70LEILVGs1vWGBZlvcQaEDHoMcRy68k9qq9v0NC-_--5_iA&_nc_ht=scontent-ort2-1.xx&oh=6ec6131f8763aa41d2223ff24bc09711&oe=5E120B80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chocolate crepes</h5>
                  <p class="card-text">I will never say no to my crepes.Caloric bomb with all pleasure!</p>
                  <p class="card-text">The dish was created out of a mistake made by a fourteen year-old assistant waiter Henri Carpentier (1880-1961) in 1895 at the Maitre at Monte Carlo's Cafde Paris. He was preparing a dessert for the Prince of Wales, the future King Edward VII (1841-1910) of England.</p>
                </div>
        </div>
        
        <div class="card">
          <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/68806533_2491099237619365_6846608732353200128_n.jpg?_nc_cat=110&_nc_oc=AQlyyIQqECgO9Rj1RVsYP56a0QtfiPqh6JOPn2EJ5L70i7xOlqkRhYBD4-8oxwT47-8&_nc_ht=scontent-ort2-1.xx&oh=127418e3be108c7bbc1219a7ebb7d587&oe=5DDBEF3F" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blueberry frozen cheesecake</h5>
            <p class="card-text">Oreo cookies, whipping cream, cream cheese and blueberry together = Heaven in your mouth!</p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                  <p>I remember when i was kid i was helping my mom in the kitchen all the time. She was making delicious cakes! </p>
                  <footer class="blockquote-footer text-white">
                    <small>
                      baking with Love <cite title="Source Title"></cite>
                    </small>
                  </footer>
                </blockquote>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/1458508_616114818451159_2048709709_n.jpg?_nc_cat=108&_nc_oc=AQm27CNOz8u5YYROAFLX6eOVHxnv5UHASk3UVqIaU8zQ1-AAk7Dsd6tcxEd6k-gmnuI&_nc_ht=scontent-ort2-1.xx&oh=0525705211614616c75c8294915a3ebb&oe=5DCE127A" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Christmas ginger cookies can't miss on the table every year!</h5>
                  <p class="card-text">It is always so much work to decorate, but they looks beautiful.</p>
                </div>
        </div>

        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/1524569_633393193389988_225705493_n.jpg?_nc_cat=109&_nc_oc=AQnm669K8u6CloQ4idoez-SrycL-Bxy9CdEddmhIbOLUj7o55tePYPc8iZDCUYWyllA&_nc_ht=scontent-ort2-1.xx&oh=3559f79b7108e8cfd8fa119af24e331c&oe=5DE0CDD5" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Homemade Tiramisu</h5>
                      <p class="card-text">Combination cream, coffee and rum!</p>
                    </div>
        </div>
        
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/20597504_10211778889720194_3607924994293617510_n.jpg?_nc_cat=102&_nc_oc=AQmmTU55gUvLQKcZWx0734UpQPMuP5vkTksC3ngpZ_p6v5mULkRzaJ1URBNrYoVV5F0&_nc_ht=scontent-ort2-1.xx&oh=272d90e45a445bb9485af894ab46b45a&oe=5DE69D6E" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pineapple cheesecake</h5>
                  <p class="card-text">Just because fruits is healthy...</p>
                </div>
        </div>

        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/68474191_2491099817619307_5198230116991238144_n.jpg?_nc_cat=111&_nc_oc=AQmINBnrY5uniFZNMPzLZangQiBbM1NGtjMIQ-hAd0Ai-PLdEBN_S8TRZHki4nGCoVo&_nc_ht=scontent-ort2-1.xx&oh=d1897185745ef2d45597ecdf6fb0f588&oe=5DE2C1DF" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Who love the brownies, who love the yummy brownies...</h5>
                  <p class="card-text">I have best recipe from my grandma!</p>
                </div>
        </div>

        <div class="card">
                <img src="https://i.ibb.co/f1cXZVf/lemon-cake.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lemon cake</h5>
                        <p class="card-text">Enjoy with hot tea in the winter or lemonade in the summer.</p>
                    </div>
        </div>

        <div class="card">
            <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/10339678_683395988389708_1616390152629660813_n.jpg?_nc_cat=106&_nc_oc=AQk5edY7A3Rxf7Ho9FrPajhR7VOircjw3ATPNNjVILNlGQpiU6hdGJ_1elOVWV5eTXQ&_nc_ht=scontent-ort2-1.xx&oh=10de5baa159092b663110158624fdf89&oe=5DDA1E12" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Wedding time</h5>
                  <p class="card-text">Every cake has some story, this is story of lovely couple.</p>
                  <p class="card-text">Swan is a symbol of grace, beauty, devotion, love, fidelity, purity, peace, partnership, elegance, energy, protection, calmness, creativity, and transformation. Combining the elements of air and water, they also embody eternal life.</p>
                </div>
        </div>

        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/1383176_578882305507744_1831148097_n.jpg?_nc_cat=107&_nc_oc=AQmRGwe0bpZ4EcaSt3TeASKhATPYsdhr9wb4C2OvoRDyUif2YBlCABVZzYH3bYvthuM&_nc_ht=scontent-ort2-1.xx&oh=fdfa70a310ae9f1ea8b61d7e75277d88&oe=5DE64A76" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cupcakes</h5>
                  <p class="card-text">Let's make some difference.</p>
                  <p class="card-text">Here are a few things you probably didn't know about the tasty treat. Cupcakes evolved in the U.S. in the 19th century. They rose to prominence because they saved time and weren't as likely to burn in hearth ovens. ... Cupcakes either got their names because they were made in cups or measured out by the cup originally.</p>
                </div>
        </div>

        

        
      </div>

<hr>
{% endblock %}