{% extends 'layout.html' %}

{% block body %}

<hr>

<h1>My Creativity</h1>

<div class="card-columns">
        <div class="card">
          <img src="https://i.postimg.cc/dtxcjGtZ/pavolcoding.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Coding</h5>
            <p class="card-text">My first experience with coding showed me how much we can do with small things. Your imagination can become true.</p>
            <p class="card-text">From all those numbers and letters after correct coding we can bring to the people something, what can make your life easier.</p>
            <p class="card-text">I am still beginner, but i know i would like to learn more, and continue with coding. </p>
            <p class="card-text">Everyday is challenge for me and I feel like every day brings you new and new expetecion. </p>

          </div>
        </div>

        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/68753666_10217358181479001_8756366481685479424_n.jpg?_nc_cat=111&_nc_oc=AQn9mRXUSz9jaqDT3oZhzFmPbOzi7qfImr23TjfBoVVvHCqFdWA03_s961AsVrkj1uI&_nc_ht=scontent-ort2-1.xx&oh=b57d2b3e4ac2c42e4f931faf5ac15418&oe=5DC814F5" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">Painting</h5>
                  <p class="card-text">I started painting when i was kid. You can express your feelings and mood.</p>
                  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/68417036_10217358181639005_822463383663017984_n.jpg?_nc_cat=100&_nc_oc=AQlHC4Y35TQpFImI1apYgSF5vq3-HGssfPu8QTHSb_nas9Ag1HfvdyKKhQHYZV6H6UM&_nc_ht=scontent-ort2-1.xx&oh=4ac9fe6a465ef6bb47b2ad0444a956f0&oe=5E166522" class="card-img-top" alt="...">
                </div>
        </div>
        <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">Photos</h5>
                  <p class="card-text">Its amazing how brain can memorize things. But much better is when we can share those memories with other people.</p>
                  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/60337814_10216684697042311_4700531084847218688_n.jpg?_nc_cat=103&_nc_oc=AQlVjB-zX74AMWQQW6t-AMGuOnuneeeGOqyQGj8w48XDSXt3ja76zN5oxivE9qoXRUc&_nc_ht=scontent-ort2-1.xx&oh=c9c906bdf679708c54b9ac30e8eec054&oe=5E13ED2F" class="card-img-top" alt="...">
                  <hr>
                  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/60359358_10216684452596200_2475403447566860288_n.jpg?_nc_cat=102&_nc_oc=AQk8kFtk-9fyKLa-CH11sXi6kQmGR-Vo3EVevqxrXa3MpQFq0NKKeeN3baM6FLNUNDc&_nc_ht=scontent-ort2-1.xx&oh=38ec31e988b771f5f32b47a0bb34a96c&oe=5DDA202E" class="card-img-top" alt="...">

                </div>
        </div>
        
        
 </div>


{% endblock %}