{% extends 'layout.html' %}
{% block body %}

<hr>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="stylesheet/css/main.css">
</head>
<body>
        <div class="card bg-dark text-white">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/56349194_10216399938603528_7180267183753134080_n.jpg?_nc_cat=102&_nc_oc=AQnNH3Ab8DGFVO1qA8HL3HRWAw9YUVIJc2lozbnF_JOgwZMUczgvOtLWqNSAeOTfsDE&_nc_ht=scontent-ort2-1.xx&oh=531e1fd19445e39d4ee5796468be8514&oe=5DCC77A3" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                  <h2 class="card-title">Hey, I'm Pavol Medved</h2>
                  <h5 class="card-text">If you really want to do something, you'll find a way. If you don't, you'll find an excuse.</h5>
                  <div class="card" style="width: 20rem;">
                      <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/49845072_10215797553384274_2773156444818636800_n.jpg?_nc_cat=110&_nc_oc=AQm0PkyVx2-q85aWt6p9R4nPMc1qm-Mjo9t3oF_UtXhXFWAWWjhB1WwLmUknlJGqZW0&_nc_ht=scontent-ort2-1.xx&oh=76a816dde45cd63f27b19017ecff2b32&oe=5DC8A7C9" class="card-img-top" alt="...">
                      
                    </div>
                </div>
        </div>
                  
</body>
</html>
<hr>

<div class="card text-white bg-dark mb-3" style="max-width: 70rem;">
    <div class="card-header">Life is better when you do what makes you happy regardless of what others think...
</div>
</div>

{% endblock %}