{% extends 'layout.html' %}

{% block body %}

<hr>

<h1>Projects</h1>

<div class="card-deck">
    <div class="card">
      <img src="https://i.postimg.cc/ZYNm28Zm/weatherapp.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Weather App - JQuery</h5>
        <p class="card-text">● Using the Weather API create a weather application that displays the High, Low, Forecast and Humidity using JQuery</p>
        <a href="https://pavolmedved.github.io/weathercard/" class="card-link">● weathercard</a>
      </div>
    </div>
    <div class="card">
      <img src="https://i.postimg.cc/t4HPJ2fD/robs-renta-app.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">RentalCar App</h5>
        <p class="card-text">● Crate copy of rental website using Python and Flask, Register, LogIn and Contact Forms. All user information are store in database.</p>
        <a href="https://rentalcarapp.herokuapp.com/" class="card-link">● rentalcar</a>
        
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
       
      </div>
    </div>
  </div>
<hr>
{% endblock %}