{% extends 'layout.html' %}

{% block body %}

<hr>

<h1>Resume</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Pavol Medved</h1>
        <div class="card-columns">
            <div class="card">
            <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/27749760_10213285796111912_1808033692312999972_n.jpg?_nc_cat=109&_nc_oc=AQl--oXKlOHjdYd9OXgYTCVfd3ESfdxNplbWwdiAQQARZIaIWt7mPXqsNue4n7PSXyw&_nc_ht=scontent-ort2-1.xx&oh=1104e8f52816d481180821e2b109f9a3&oe=5DCCE1C5" class="card-img-top" alt="..."></div>
        <p class="card-text">22pavolmedved@gmail.com, 224-814-8189 Chicago, IL 60640 </p>

        <div class="card text-white bg-dark mb-3" style="max-width: 70rem;">
            <div class="card-body">
                <h5 class="card-title">Skills</h5>
                <p class="card-text">Programming Languages: Python, JavaScript, HTML5, CSS3, SQL 
                <p>Databases: SQL, MySQL, SQLite, PostgreSQL</p>
                <p class="card-text">Technologies/Development Frameworks: Bootstrap4, Flask, Angular 7.0, NumPy, Pandas, jQuery, AJAX, JSON 
                <p>Tools/Methodologies: Git/GitHub, Anaconda, Jup</p>
                <hr>
                <h5 class="card-title">Education</h5>
                <p class="card-text">City Colleges of Chicago -Truman College Chicago, IL 
                <p>English Degree 2017-2018</p>
                <p class="card-text">EuroSchool Hotel Academy Bratislava, Slovakia 
                <p>Majored in Hospitality 2002-2007</p>
            </div>
        </div>
        <h4>Professional Summary</h4>
        <p>A business-minded technology professional with hands-on work experience in software development. Personable, professional and exceptional at customer service allowing me to excel in client-side projects. I can leverage my analytical and creative problem-solving skills to drive reliable solutions. Self-motivated and can deliver results under pressure as demonstrated in my previous 6+ years in sales and business.</p>
        <hr>
        <h4>Work History</h4>
        <h6>Coding Temple - Software Developer
            <p>Chicago, IL</p>
            <p>06/2018 - Current</p>
        </h6>
        <p>● Delivered various full-stack web applications using Python, Flask, React.js and SQL on schedule.</p>
        <p>● Designed layouts and converted them into responsive, mobile optimized HTML pages and components using React and core JavaScript.</p>
        <p>● Used Python NumPy, SciPy and Pandas packages to perform dataset manipulation and statistical analysis.</p>
        <p>● Handled data migration between sources and composed complex queries on SQL to extract data from relational databases.</p>

        <h6>Intercontinental Chicago - Housekeeping Supervisor 
            <p>Chicago, IL</p>
            <p>03/2016 - 03/2018</p>
        </h6>
        <p>● Act as Supervisor on duty for hotel and manages housekeeping staff. </p>
        <p>● Ensure that housekeeping are trained in all-service attendant operations, including cleaning procedures. </p>
        <p>● Inspected guest rooms daily to ensure cleanliness standards are met. </p>
        <p>● Handled guest complaints using in-house program OPERA Cloud Service.</p>

        <h6>Able Employment Agency - Personal Caregiver
            <p>Hinsdale, IL</p>
            <p>10/2014 - 12/2015</p>
        </h6>
        <p>● Prepared meals for clients in their homes based on specific diets.</p>
        <p>● Attended to any daily medical care that patients need. </p>
        <p>● Assisted patients in the maintenance and upkeep of their homes.</p>
        <p>● Spent time with patients who were bedridden and assisted them with their daily maintenance routines.</p>

        <h6>Eveden Ltd - Operations Controller
            <p>Kettering, England</p>
            <p>04/2011 - 09/2014</p>
        </h6>
            <p>● Duties include assembling, addressing, stamping, coordinating shipping/receiving merchandise, unloading/unpacking, verifying products, and recording incoming merchandise.</p>
            <p>● Arranged transportation in coordinating shipping/receiving merchandise. </p>
            <p>● Used pallets to load and unload shipments from the truck into the warehouse.</p>
            <p>● Maintained inventory of shipping materials and supplies.</p>


    </div>
</div>


{% endblock %}