{% extends 'layout.html' %}

{% block body %}

<hr>

<h2>My Sport</h2>


<div class="card-columns">
        <div class="card">
          <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/67367628_10217171292926904_813323049012035584_n.jpg?_nc_cat=111&_nc_oc=AQkDzEmi_PF3bTLDAGdScpHw1aI2DNQCTzyI2bpN1a_sitSVhk_nWrMLRO45OH-nUn4&_nc_ht=scontent-ort2-1.xx&oh=d1ca8bad36d62138a87581c5677a5354&oe=5DDE6055" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lifing</h5>
            <p class="card-text">When you lift weights, you build lean muscle tissue which is more metabolically active than fat. When you increase your muscle, you also increase metabolism which means you're burning more calories throughout the day.</p>
          </div>
        </div>
        <div class="card">
                        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/56610472_10216399831440849_4943117245816504320_n.jpg?_nc_cat=102&_nc_oc=AQlRCq6gvHh_YdfjOEN7kjVkfaHhtF1Q139N45geRsnQesDuATa1lJgVGNhdAK5qSMM&_nc_ht=scontent-ort2-1.xx&oh=f36c731fd78c53a7b4bb09d187f9dabd&oe=5DD1F4B5" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Cycling</h5>
                          <p class="card-text">How to get some ideas? With cycling and fresh air...</p>
                          <p class="card-text">Lake shore drive is always busy, special during the summer.</p>
                        </div>
        </div>
        <div class="card">
                        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/17264964_10210473829974516_1390207247824667135_n.jpg?_nc_cat=102&_nc_oc=AQmv4Ott0oZNin0GIeHHXJ0-p8n0vgWz8j1P1XqWGeF4vap2-355anzBj0nSNfZJehY&_nc_ht=scontent-ort2-1.xx&oh=823b85f8027423c4dc53b76897d3f4d3&oe=5E150F7A" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Crossfit</h5>
                          <p class="card-text">Collaboration within a group can help solve difficult problems. Brainstorming is a good opportunity for the team to exchange ideas and come up with creative ways of doing things. By working together, teams can find the solutions that work best.</p>
                </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
                        <blockquote class="blockquote mb-0">
                          <p>It's amazing how body can change. From time when we are babies to all the way how we become old.
                                  But with regular exercise, positive energy, balanced diet your body and mind can stay young!</p>
                          <footer class="blockquote-footer text-white">
                            <small>
                              never give up <cite title="Source Title"></cite>
                            </small>
                          </footer>
                        </blockquote>
        </div>
        <div class="card">
                        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/64288017_10216906429065473_6145918709597732864_n.jpg?_nc_cat=106&_nc_oc=AQnd3btiQ87HUzUkxnp5aiiE5GgMmaibGJAUlADltYF08MxZ0q4VhNP67kadEOswneU&_nc_ht=scontent-ort2-1.xx&oh=9e993189e931d9b50297dfb3242d260e&oe=5DE81BC7" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sailor</h5>
                          <p class="card-text">Be on the boat feels like you can go everywhere where you want. One of my dreams is have boat one day.</p>
                          <p class="card-text">My first experience on the lake Michigan. Chicago has one of amazing view on the world.</p>
                          <p class="card-text"></p>
                          
                        </div>
        </div>
        
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/21765122_10212236441438701_6309908136566174699_n.jpg?_nc_cat=104&_nc_oc=AQmYLkKHLIYV8BSuT1JJzCafSbOZ9-tLS9-ifj6wIbo7qy-dj9rk4GD-p4qUZd26ck0&_nc_ht=scontent-ort2-1.xx&oh=c1c5fb9b10a6958cc68cb897cdac16ad&oe=5E14CAF6" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">Chicago Half Marathon</h5>
                        <p class="card-text">The Chicago Half Marathon or Chicago Half Marathon & 5K is an annual half marathon and 5k run occurring in September on the South Side of Chicago. The race takes place on a largely out-and-back course along Lake Shore Drive with views of Lake Michigan and the Chicago skyline.</p>
                </div>
        </div>
        <div class="card">
                        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/50064300_10215806239841430_3519282613065875456_n.jpg?_nc_cat=110&_nc_oc=AQnxCTv6l5VvCGvkZhvJmctM7emZ_oQ-R1kyZeHI-nt5TqyQwAW7feLt8ZO-lSPre6E&_nc_ht=scontent-ort2-1.xx&oh=7ded7d4eec0d3b66fec8827528304a76&oe=5DE5C4E9" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hiking</h5>
                          <p class="card-text">I love to hiking. We can see beauty of nature in every season.Reasons to Go Hiking. Improve your mood, relieve stress, sleep better at night, increase your energy levels, and just get healthier overall by spending time outside.</p>
                        </div>
        </div>
        
        
        
      </div>

<hr>   

{% endblock %}