{% extends 'layout.html' %}

{% block body %}

<hr>

<h1>My Travel</h1>

<div class="card-columns">
        <div class="card">
          <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/59682035_10216606286042085_1917153412433051648_n.jpg?_nc_cat=101&_nc_oc=AQkcm0w624ARP5jLCc9PW0r5x3_6HnQ06p_8MkmgkemV21GIj9Qf5MgRmARmamqvWy8&_nc_ht=scontent-ort2-1.xx&oh=819a3daed0cdc1ab58cb2337473b218a&oe=5DD5722D" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">SLOVAKIA</h5>
          </div>
        </div>
        
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/52724378_10216109485582384_4553136547506946048_n.jpg?_nc_cat=111&_nc_oc=AQmIXjdgQjz0A0006yfeRzfGu-y3VpGUEldpDqo7cYvzJ-lkKvVh6PabrkY6XqBqjGo&_nc_ht=scontent-ort2-1.xx&oh=f6fb41812d817b69ccf35468f08d7440&oe=5DD7D983" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">AUSTIN</h5>
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/40439_1426899304976_6287633_n.jpg?_nc_cat=102&_nc_oc=AQlwXPcPS0S6MtoMChSTFKnzsG0g1F3k8MnI4_UJfKTsTICQ3B6vQA4k1GJ_iK4mAP4&_nc_ht=scontent-ort2-1.xx&oh=9463d2ae45d7760a963ef2b22fce6628&oe=5DCAF1F6" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PITTSBURGH</h5>
                  </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/1918007_1120464524298_658955_n.jpg?_nc_cat=108&_nc_oc=AQlAmutIeYsFcCc5zcrzaYIxN1Gg86EWGIeCc-KxWMYtVcHxds6O9o-twCCnwLPmrH4&_nc_ht=scontent-ort2-1.xx&oh=88e54e85c5e0479d171cb71946238c7b&oe=5DCFD1EB" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">AMSTERDAM</h5>
                </div>
        </div>
        
        <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                  <p>Travel for me is fun! You can meet new people and make new friends!</p>
                  <footer class="blockquote-footer text-white">
                    <small>
                            have friends everywhere <cite title="Source Title"></cite>
                    </small>
                  </footer>
                </blockquote>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/40451714_10214822152239855_4429644379342241792_n.jpg?_nc_cat=110&_nc_oc=AQkWaoVRlfzzlgqY70FBsNALGcC8DcHiK9_zN-1wO4QjJBbjPve0AsLpHALNh8FExGA&_nc_ht=scontent-ort2-1.xx&oh=70e9da7e11cc1d7c1891b61d677bb4c1&oe=5DE788DD" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">WASHINGTON DC</h5>
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/10390340_10202999590043189_6720980336692280650_n.jpg?_nc_cat=103&_nc_oc=AQkzAbOwFXOQvqJWOiZmH9vlntpytESuX-qavcCUK83f6CH1ZBN3jvo_fa4qamivN9s&_nc_ht=scontent-ort2-1.xx&oh=43b6dd57cb753eb922f7a724067b6d65&oe=5E121E24" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BUDAPEST</h5>
                  
                </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                  <p>Every place on The World has something specific. New country is like taste new food! </p>
                  <footer class="blockquote-footer text-white">
                    <small>
                            enjoy and learn new culture <cite title="Source Title"></cite>
                    </small>
                  </footer>
                </blockquote>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/38489354_10214608346094835_6284034433951465472_n.jpg?_nc_cat=108&_nc_oc=AQkfL2u087hdYe0l4JRXUqZ5qdSLGIJ4NuaNTKb7mW93DPlcwKBpww7Tas1HvipJPsM&_nc_ht=scontent-ort2-1.xx&oh=796895988797feabfe54cbde91f9fa52&oe=5DDF255A" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CHICAGO</h5>
                    </div>
        </div>
        
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/60405921_10216687593714726_8403690202861666304_n.jpg?_nc_cat=101&_nc_oc=AQk8yg5OPRM7luTC_mWhN1yZnUOFlKz_8dHs6W14NJuc1pRfKoYs9-p-P5BHO8MQURo&_nc_ht=scontent-ort2-1.xx&oh=59e50ced355c249734b81a7070a3d0c1&oe=5DE43B5B" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ATHENS</h5>
                </div>
        </div>

        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/60355276_10216681034950761_6125826603478941696_n.jpg?_nc_cat=110&_nc_oc=AQkFLPDObQeAj-v6EkZwHGaVTZ6L4p7j9dc734LOSGOPvcYS1DNRtnDD4dafa2TOsMs&_nc_ht=scontent-ort2-1.xx&oh=70f2b105ec94874ad0d9dd1b601a17dc&oe=5DDD80F2" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SYROS</h5>
                </div>
        </div>

        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/60316848_10216669094972269_1047698383562604544_n.jpg?_nc_cat=104&_nc_oc=AQmKBUqYIjUwYZTiYsXnZ2HXFqP6HT-YmYILp9eab3MVzvwQ0ZpZEKUShUy8AIVwK-I&_nc_ht=scontent-ort2-1.xx&oh=e1f88f7318e429d382fe4b9c9e37b311&oe=5E12CCE1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MYKONOS</h5>
                    </div>
        </div>

        <div class="card">
            <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/11390144_10205456800871924_3008289674283290929_n.jpg?_nc_cat=110&_nc_oc=AQnsAaoCvi_LyOic3C4J2ff0dEewbTfvz65r4kSlnKmdLJKW7qOZoj-OlNKyW0lCMlM&_nc_ht=scontent-ort2-1.xx&oh=66ba814faab253abef0d8bad33a2d6ce&oe=5DE2726B" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">FLORIDA</h5>
                </div>
        </div>
        
        
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/428936_3826910783763_1639521538_n.jpg?_nc_cat=110&_nc_oc=AQlxWMOoOI9E2d5ac2cLUgQgJwEQ3zKa6FByH2jDseNhjoHAgXTt3PVow1wTnqLYC0U&_nc_ht=scontent-ort2-1.xx&oh=4015abcb7d9a90b2056a500ecc35a1ad&oe=5DE6B9F2" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">LONDON</h5>
                  
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/43403596_10215094663092456_6650890392684199936_n.jpg?_nc_cat=110&_nc_oc=AQlTFka2GCyzf3NxVf6rIGgnMHuozqikVW7NNMliwomRDfpt7UiIfIzE9NqcMd6BSCw&_nc_ht=scontent-ort2-1.xx&oh=2bf3b577bb30dac01cb462213d3f3e08&oe=5DD2EE84" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">NEW YORK CITY</h5>
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/582323_4024962894942_1340047066_n.jpg?_nc_cat=108&_nc_oc=AQn_WyQJCIDKYl3M5kjdh72EhgBcBvjFgVOJIEuaKDv4R78D7rB7ZYEqNNGHkMvstiI&_nc_ht=scontent-ort2-1.xx&oh=4532f4c7cadfbea87d51fad7eaad67e4&oe=5DD2CD8B" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GRAN CANARY</h5> 
                </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                  <p>What is next destination?</p>
                  <footer class="blockquote-footer text-white">
                    <small>
                            i want to see everything <cite title="Source Title"></cite>
                    </small>
                  </footer>
                </blockquote>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/304394_4025640111872_1088458562_n.jpg?_nc_cat=101&_nc_oc=AQknlDD3BlLpSqXnetjOlNG3FHGda0zA5Fud87L8jA1fweXsVkk7OEInguSv1hf9-Qw&_nc_ht=scontent-ort2-1.xx&oh=5959617683ed9c90756d917e54a3c020&oe=5E12EBA9" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TENERIFE</h5>  
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/49947702_10215797551424225_5590976254548377600_n.jpg?_nc_cat=110&_nc_oc=AQkCpJwSnnfZ-cPF_mEK5FOjrjY7QcXS3e0Hi98v6PIy1p_RtnsluPAkO70RYD7b6nM&_nc_ht=scontent-ort2-1.xx&oh=d7673f2b1c3ad4132b77b55c1b94c0b9&oe=5DD9A6EB" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">DENVER</h5>
                </div>
        </div>
        <div class="card">
                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/4256_1084297180137_6300402_n.jpg?_nc_cat=108&_nc_oc=AQmlAzxHvreBoasyVOzu_Kb-23QOmSa7fzCJuzZee2ZxUd377XNolUfQba1cm8uIBrU&_nc_ht=scontent-ort2-1.xx&oh=4dbb8430fb9ed6c34eb8f1e21d8600bc&oe=5DD7CB6D" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GUERNSEY</h5>
                  
                </div>
        </div>
        



        
      </div>

<hr>




{% endblock %}